PUID=1000
PGID=1000
TZ=America/New_York
CONFIG_ROOT=/opt/mediaconfig
MEDIA_ROOT=/mnt/media
DOWNLOADS_ROOT=/mnt/downloads

# VPN
VPN_PRIVATE_KEY=

# Homepage widget API keys
HOMEPAGE_VAR_JELLYFIN_KEY=
HOMEPAGE_VAR_PROWLARR_KEY=
HOMEPAGE_VAR_RADARR_KEY=
HOMEPAGE_VAR_SONARR_KEY=

# Homepage widget credentials
HOMEPAGE_VAR_QBIT_PASSWORD=
