<?xml version="1.0" ?>
<ribcl VERSION="2.0">
  <login USER_LOGIN="Administrator" PASSWORD="{{ ilo_password }}">
    <server_info MODE="WRITE">
      <mod_server_name>
        <server_name VALUE="pve-tank12"/>
      </mod_server_name>
    </server_info>
  </login>
</ribcl>
